<?xml version="1.0" ?>
<model>
    <name>4x4 room</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Rohan Deshpande</name>
        <email>rohandeshpande55@gmail.com</email>
    </author>
    <description>This is the basic model of a 4x4 room</description>
</model>
